.skillsWrapper{
    padding: 2rem;
    display: grid;
    // width: 80%;
    .skillsContent{
       display: grid;
       grid-template-columns: auto auto;
       grid-gap: 2rem;
       .skillItem{
        .skillHeading{
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 2;
        }
       }
    }
    @media only screen and (max-width:775px){
        .skillsContent{
            grid-template-columns: none;
        }
    }
}