.aboutmeWrapper{
    display: grid;
    justify-content: center;
   
    .aboutLayout{
        width: 95%;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 5rem;
        .imageSection{
            display: grid;
            justify-content: flex-end;
        }
        .infosection{
            .personalData{
                .row{
                    display: grid;
                    grid-template-columns: 10rem 10rem;
                    padding: 1rem;
                    letter-spacing: 0.1rem;
                    .data{
                        display: grid;
                        text-align: center;
                        justify-content: flex-start;
                        color: #999999;
                    }
                }
                .cvBtn{
                    padding: 2rem 3rem;
                }
            }
        }
    }

    @media only screen and (max-width:775px){
        .aboutLayout{
            display: block;
            position: relative;
            width: 100%;
            .imageSection{
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
            }
        }
    }
    @media only screen and (max-width:440px){
        .aboutLayout{
            display: block;
            position: relative;
            width: 100%;
            .imageSection{
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
            }
            .row{
                padding: 0.5rem;
                grid-template-columns: 6rem 1fr !important;
                .infoHead{
                    padding: 1rem 0;
                }
                .data{
                    padding: 1rem 0;
                }
            }
        }
    }
    @media only screen and (max-width:390px ){
        .row{
            display: block;
        }
    }
   
}