.aboutmeWrapper{
    display: grid;
    justify-content: center;
   
    .aboutLayout{
        .infosection{
            .personalData{
                .row{
                    display: grid;
                    grid-template-columns: 10rem 10rem;
                    padding: 1rem;
                    letter-spacing: 0.1rem;
                    .data{
                        display: grid;
                        text-align: center;
                        justify-content: flex-start;
                        color: #999999;
                    }
                }
                .cvBtn{
                    padding: 2rem 3rem;
                }
            }
        }
    }

    @media only screen and (max-width:775px){
        .aboutLayout{
            display: block;
            position: relative;
            width: 100%;
            .imageSection{
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
            }
            .personalData{
                display: grid;
                justify-content: center;
               .row{
                letter-spacing: 0 !important;
               }
            }
        }
    }
    @media only screen and (max-width:440px){
        .aboutLayout{
            display: block;
            position: relative;
            width: 100%;
            .imageSection{
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
            }
            .row{
                grid-template-columns: 6rem 1fr !important;
                padding: 0.5rem !important;
                .infoHead{
                    padding: 0.5rem 0;
                }
                .data{
                    padding: 0.5rem 0;
                }
            }
            .personalData{
                display: grid;
                justify-content: center;
               .row{
                letter-spacing: 0.03rem !important;
               }
            }
        }
    }
    @media only screen and (max-width:390px ){
        .row{
            display: block;
        }
    }
   
}