.contactWrapper{
    padding: 2rem;
    .contactIcons{
        display: flex;
        padding: 2rem;
        flex-wrap: wrap;
        grid-gap: 1rem;
        justify-content: space-between;
        
        .contactItem{
            display: grid;
            grid-gap: 0.5rem;
            width: 20rem;
            .socialIcon{
                display: grid;
                justify-content: center;
                .icon{
                    background: rgb(78, 77, 77);
                    width: fit-content;
                    padding: 2rem;
                    border-radius: 50%;
                }

            }
            
            .label{
                display: grid;
                justify-content: center;
                text-transform: capitalize;
                font-size: 1.2rem;
                color: #9999;
                width: 5rem;
                // padding: 0 1rem;
                width: 100%;
            }
        }
        
    }
    @media only screen and (max-width:420px){
        .contactIcons{
            padding: 0.5rem;
            .label{
                font-size: 1rem !important;
            }
        }
    }
    .contactInfo{  
        display: grid;
        grid-template-columns: 1fr 35%;
        grid-gap: 5rem;
        justify-content: center;
        .contactForm{
            display: grid;
            // justify-content: flex-end;
        }
        .contactImage{
            display: grid;
            justify-content: center;
        }
    }
    @media only screen and (max-width:775px){
        .contactInfo{
            display: block;
            .contactImage{
                display: none;
            }
        }
    }
}