.fadeWrapper {
    opacity: 0;
    transform: translate(0, 50%);
    visibility: hidden;
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
    will-change: opacity, visibility;
  }
  
  .isVisible {
    opacity: 1;
    transform: none;
    visibility: visible;
    display: flex; 
  }
  .animateTitle{
    animation: titleanimate 1s;
  }

  @keyframes titleanimate {
    0%{
        right: 0;
    }
    100%{
        left: 0;
    }
  }