.headingWrapper{          
    position: relative;
    .backgroundTxt{
        position: absolute;
        color: #877e7e;
        z-index: 2;
        opacity: 0.5;
        font-size: 7vw;
        font-weight: 800;
        width: 100%;
        justify-content: center;
        display: grid;
    }
    .centerdTxt{
        display: grid;
        justify-content: center;
    }
    .text{
        z-index: 2;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 0 1rem;
        position: relative;
        justify-content: center;
        display: grid;
    }
    .selfIntro{
        padding: 2rem 0.5rem;
        font-size: 1.2em;
        color: #999999;
    }
}
